.mainContainer h1 {
  color: white;
}

.postItem {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.container ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
}
