body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(34, 34, 34);}

.App {
  text-align: center;
  background-color: rgb(34, 34, 34);
  margin-top: -23px;
  padding: 0;
  box-sizing: border-box;
  height: auto;
}
